body{
    background-color: rgb(37, 37, 37);
    font-family: "Outfit", sans-serif;
}

.menu{
    margin-top: 5px;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
}

.menu div{
    width: 20%;
}

.menu div:hover{
    background-color:rgb(43, 21, 21);
    transition: 0.2s;
} 

.menu img{
    width: 57px;
    height: 57px;
}

.read-progress-bar{
    position: fixed;
    width: 10%;
    height: 5px;
    background-color: white;
    top: 0;
    left: 0;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    color: rgb(78, 78, 78);
    font-weight: bold;
    text-align: center;
}

h2{
    color: rgb(113, 113, 113);
    font-weight: bold;
    text-align: center; 
}

.info-boxes{
    background-color: rgb(51, 25, 25);
    padding-top: 20px;
    padding-bottom: 20px;
}

.info-boxes div{
    width: 75%;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(79, 29, 29);
    margin-bottom: 10px;
    color: white;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
}

.info-boxes button{
    width: 200px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(255, 84, 84);
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 35px;
}

.info-boxes button:hover{
    transition: 0.2s;
    background-color: rgb(255, 84, 84);
    border: 4px solid white;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: rgb(79, 29, 29);
    font-weight: bold;
    margin-top: 20px;
}