body{
    background-color: rgb(37, 37, 37);
    font-family: "Outfit", sans-serif;
}

.menu{
    margin-top: 5px;
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: rgb(114, 13, 13);
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
}
.menu div{
    height: auto;
    min-width: 15%;
    width: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
.menu div:hover{
    background-color:rgb(43, 21, 21);
    transition: 0.2s;
} 
.menu img{
    width: 57px;
    height: 57px;
    margin: 0 auto;
}
.menu span{
    margin: 0 auto;
    padding-top: 5px;
}
.menu a{
    padding-top: 5px;
}

.boxTitle{
    width: auto;
    height: auto;
}

@media screen and (max-width: 800px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 50px;
  }
}

.read-progress-bar{
    position: fixed;
    width: 10%;
    height: 5px;
    background-color: white;
    top: 0;
    left: 0;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    color: rgb(78, 78, 78);
    font-weight: bold;
    text-align: center;
}

h2{
    color: rgb(113, 113, 113);
    font-weight: bold;
    text-align: center; 
}

.info-boxes{
    background-color: rgb(51, 25, 25);
    padding-top: 20px;
    padding-bottom: 20px;
}
.info-boxes button{
    width: 150px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(255, 84, 84);
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 50px;
    font-family: "Outfit", sans-serif;
}
.info-boxes button:hover{
    transition: 0.2s;
    background-color: rgb(255, 84, 84);
    border: 4px solid white;
    width: 200px;
}

.info-boxes button:active{
    transition: 0.2s;
    background-color: rgb(86, 29, 29);
    border: 4px solid white;
    width: 200px;
}

.info-box{
    width: 75%;
    min-height: 200px;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(79, 29, 29);
    margin-bottom: 10px;
    color: white;
    font-size: 50px;
    border: 4px solid rgb(30, 30, 30);
    border-radius: 5px;
}

.driverChampionshipBox{
    width: 75%;
    min-height: 400px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(79, 29, 29);
    margin-bottom: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    border: 4px solid black;
}

.driverCard{
    width: 35%;
    min-height: 100px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    background-color:rgb(41, 41, 41);
    margin-bottom: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}
.driverCard:hover{
    transition: 0.3s;
    font-size: 50px;
    width: 50%;
}
.driverCard:hover img{
    transition: 0.3s;
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 800px) {
  .driverCard {
    width: auto;
  }
  .driverCard:hover{
    width: auto;
  }
}

.driverName{
    font-size: 40px;
    text-shadow: 2px 2px 1px black;
}
.driverPoints{
    font-size: 40px;
    text-shadow: 2px 2px 1px black;
}
.driverTeam{
    font-size: 25px;
}
.driverNumber{
    font-size: 50px;
    font-style: italic;
    text-shadow: 2px 2px 1px black;
}

.teamCard{
    width: 50%;
    min-height: 200px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    background-color:rgb(41, 41, 41);
    margin-bottom: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}

.teamCard:hover{
    transition: 0.2s;
    width: 75%;
    font-size: 50px;
}

@media screen and (max-width: 800px) {
  .teamCard {
    width: auto;
  }
  .teamCard:hover{
    width: auto;
  }
}

.teamColorBox{
    width: 25px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
}

.driverImage{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 4px solid black;
    border-radius: 10px;  
}

.teamPosition{
    font-size: 50px;
    font-style: italic;  
}
.teamName{
    font-size: 40px;
    text-shadow: 2px 2px 1px black;
}
.teamPoints{
    font-size: 40px;
    text-shadow: 2px 2px 1px black;
}

#headToHeadBox{
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}

#headToHeadSelect1, #headToHeadSelect2{
    width: 300px;
    height: 50px;
    font-size: 25px;
    background-color: rgb(39, 39, 39);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.headToHeadCard{
    width: 25%;
    min-height: 100px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    background-color:rgb(41, 41, 41);
    margin-bottom: 10px;
    color: white;
    font-size: 35px;
    border: 4px solid rgb(35, 35, 35);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
  .teamCard {
    width: 75%;
  }
  .teamCard:hover{
    width: 75%;
  }
}

.weatherData{
    font-size: 25px;
}

#latestMeetingBox{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

#latestMeetingBox img{
    width: 125px;
    height: 100px;
    margin: 0 auto;
}

#latestMeetingBox table{
    width: 75%;
    height: auto;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: rgb(31, 31, 31);
    color: white;
    margin: 0 auto;
    table-layout: fixed; 
    text-align: center
}

#latestMeetingBox tr, td{
    font-size: 25px;
    border: 2px solid black; 
    word-break: break-word;
}

#latestMeetingBox tr:nth-child(even) {
  background-color: rgb(46, 46, 46);
}

#racesBox{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#allRacesBox{
    display: flex;
    flex-direction: column;
}

#raceBox{
    width: 50%;
    height: auto;
    border: 2px solid black;
    background-color: rgb(35, 35, 35);
    border-radius: 5px;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#seasonSelect{
    width: 200px;
    height: 50px;
    font-size: 25px;
    background-color: rgb(39, 39, 39);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

#chosenRaceInfoBox table{
    width: 75%;
    height: auto;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: rgb(31, 31, 31);
    color: white;
    margin: 0 auto;
    table-layout: fixed; 
    text-align: center
}

#chosenRaceInfoBox tr, td{
    font-size: 25px;
    border: 2px solid black; 
    word-break: break-word;
}

#chosenRaceInfoBox tr:nth-child(even) {
  background-color: rgb(46, 46, 46);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: rgb(79, 29, 29);
    font-weight: bold;
    margin-top: 20px;
}